* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden; // Éviter le scroll horizontal indésirable
  overflow-y: auto; // Permettre le scroll vertical normal
}