@import "../../responsive.scss";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .content {
    flex: 1;
    padding-top: 0;

    &.full-width {
      width: 100%;
      padding: 0;
    }
  }
}

// Responsive
@media (max-width: 768px) {
  .layout {
    .content {
      &.full-width {
        padding: 0;
      }
    }
  }
}
